<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TD Algo</title>
  </head>
  <body>
    <h1>Bonjour chez vous <span>{{ username }}</span>!!</h1>

    <ul>
      {% for member in members %}
      <li>{{ member }}</li>
      {% endfor %}
    </ul>

    <form method="POST" action="">
      <input type="username" name="username" placeholder="username" />
      <button type="submit">Envoyer</button>
    </form>
  </body>
</html>
